body {
  background: RGB(146, 168, 209)
}

#title {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 40px;
}

#error {
  background-color: rgb(128,128,128);
  display: none;
  margin-right: 5%;
  margin-left: 2%;
  margin-top: 10px;;
  float: left;
  clear: left;
  padding: 8% 5%;
  width: 40%;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 20px;
  border: 5px solid white;
}

#search-bar {
  margin-left: 2%;
  float: left;
  align-content: center;
  margin-right: 5%
}

#next {
  float:left;
}

#previous {
  margin-left: 0%;
  float:left;
}

#mapCont { 
  height: 400px; 
  margin-right: 2%;
  width: 40%;
  position: absolute;
  right: 0;
  z-index: 0;
  background-color: white;
}


#map {
  height: 94%; 
  margin: 2%;
  right: 0px;
  width: 96%;
  position: absolute;
  z-index: 1;
}

#mapNa { 
  height: 94%; 
  width: 96%;
  margin: 2%;
  left: 0px;
  right: 0px;
  position: absolute;
  z-index: 10;
  background-color: rgb(128,128,128);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 20px;
}

#breweries-list {
  clear: left;
}

#brews {
  margin-left: 2%;
  word-wrap: break-word;
  column-width: 10%;
  float: left;
  clear: left;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5)
}

#brews2 {
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 20px;
  margin-left: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  column-width: 10%;
  float: left;
  clear: left;
  width: 50%;
}

td {
  word-wrap: break-word;
  padding: 5px;
}

#col3 {
  width: 20%;
}
#col2 {
  width: 25%;
}
