body {
  background: RGB(146, 168, 209)
}

#error {
  display: none;
  margin-right: 5%;
  float: left;
}

#search-bar {
  float: left;
  align-content: center;
  margin-right: 5%
}

#next {
  float:left;
}

#previous {
  margin-left: 0%;
  float:left;
}


#map { 
  height: 400px; 
  margin-right: 5%;
  width: 40%;
  float: right;
}

#mapNa { 
  /* height: 400px; 
  margin-right: 5%; */
  width: 40%;
  position: absolute;
  right: 10px;
}

#breweries-list {
  clear: left;
}

#brews {
  word-wrap: break-word;
  column-width: 10%;
  float: left;
  clear: left;
  width: 50%;
  background-color: white;
}

#brews2 {
  word-wrap: break-word;
  column-width: 10%;
  float: left;
  clear: left;
  width: 50%;
}

td {
  word-wrap: break-word;
  padding: 5px;
}

#col3 {
  width: 20%;
}
#col2 {
  width: 25%;
}
