body {
  background: RGB(146, 168, 209)
}

#error {
  display: none;
  margin-right: 5%;
  float: left;
}

#next {
  float:left;
}

#previous {
  margin-right: 0%;
  float:left;
}

#map { 
  height: 400px; 
  margin-right: 5%;
  width: 40%;
  float: right;
}

#breweries-list {
  margin-right: 5%;
  width: 30%;
  float: left;
}
